@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Chillax-Extralight';
        src: url('../../static/fonts/Chillax-Extralight.woff2') format('woff2'),
             url('../../static/fonts/Chillax-Extralight.woff') format('woff'),
             url('../../static/fonts/Chillax-Extralight.ttf') format('truetype');
        font-weight: 200;
        font-display: swap;
        font-style: normal;
    }
    @font-face {
        font-family: 'Chillax-Light';
        src: url('../../static/fonts/Chillax-Light.woff2') format('woff2'),
             url('../../static/fonts/Chillax-Light.woff') format('woff'),
             url('../../static/fonts/Chillax-Light.ttf') format('truetype');
        font-weight: 300;
        font-display: swap;
        font-style: normal;
    }
    @font-face {
        font-family: 'Chillax-Regular';
        src: url('../../static/fonts/Chillax-Regular.woff2') format('woff2'),
             url('../../static/fonts/Chillax-Regular.woff') format('woff'),
             url('../../static/fonts/Chillax-Regular.ttf') format('truetype');
        font-weight: 400;
        font-display: swap;
        font-style: normal;
    }
    @font-face {
        font-family: 'Chillax-Medium';
        src: url('../../static/fonts/Chillax-Medium.woff2') format('woff2'),
             url('../../static/fonts/Chillax-Medium.woff') format('woff'),
             url('../../static/fonts/Chillax-Medium.ttf') format('truetype');
        font-weight: 500;
        font-display: swap;
        font-style: normal;
    }
    @font-face {
        font-family: 'Chillax-Semibold';
        src: url('../../static/fonts/Chillax-Semibold.woff2') format('woff2'),
             url('../../static/fonts/Chillax-Semibold.woff') format('woff'),
             url('../../static/fonts/Chillax-Semibold.ttf') format('truetype');
        font-weight: 600;
        font-display: swap;
        font-style: normal;
    }
    @font-face {
        font-family: 'Chillax-Bold';
        src: url('../../static/fonts/Chillax-Bold.woff2') format('woff2'),
             url('../../static/fonts/Chillax-Bold.woff') format('woff'),
             url('../../static/fonts/Chillax-Bold.ttf') format('truetype');
        font-weight: 700;
        font-display: swap;
        font-style: normal;
    }
    @font-face {
        font-family: 'Chillax-Variable';
        src: url('../../static/fonts/Chillax-Variable.woff2') format('woff2'),
             url('../../static/fonts/Chillax-Variable.woff') format('woff'),
             url('../../static/fonts/Chillax-Variable.ttf') format('truetype');
        font-weight: 200 700;
        font-display: swap;
        font-style: normal;
      }
    

    html {
        @apply text-white
    }
}
